.cursor {
  pointer-events: none;
  /* transition: all 100ms ease;
  transition-property: opacity; */
}

.cursor__ball {
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 1000;
}

.cursor__ball circle {
  /* fill: var(--bg-inverse); */
  fill: rgb(247, 240, 167);
}

.cursor__hidden {
  opacity: 0;
}
