.container-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  right: 45%;
  color: var(--font-color);
  font-weight: bold;
  height: 100%;
  width: auto;
 
}

.detail-image {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2%;
  margin: 25% 0% 10% 0%;
  /* max-width: 300px; */
  height: auto;
  /* overflow: hidden; */
}

.li-detail {
  margin: 10px 0px;
}

.card {
  cursor: pointer;
  color: var(--secondary-color);
  /* width: fit-content; */
  margin: 4px;
  border-style: none none solid none;
  border-width: thin;
  font-weight: lighter;
}

.card1 {
  cursor: pointer;
  color: var(--secondary-color);
  /* width: fit-content; */
  /* margin: 4px; */
  /* border-style: none none solid none; */
  border-width: thin;
  font-weight: lighter;
}

.info-detail {
  margin: 5%;
  /* text-transform:initial; */
}



.button-detail {
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  margin: 15px 15px 35px 5%;
  padding: 1px;
  font-size: 13px;
  cursor: pointer;
  min-width: 5.5rem;
  width: 3px;
  color: var(--font-color);
  font-weight: bold;
}

.fav-detail {
  margin-left: 5px;
}

@media (max-width: 480px) {
  .detail-image{
      max-width: 300px; 
  }
}