/* .button-back {
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  margin: 10% 40%; */
/*margin crea spazio intorno all'elemento. Si può impostare differente per ogni lato, o un numero solo uguale per ogni lato*/
/* padding: 10px;
  background-color: rgb(199, 198, 198);
  font-size: 1rem;
  cursor: pointer;
  min-width: 5.5rem;
} */

.box-photos-favs {
  display: flex;
  /* flex-direction: row; */
  /*row mette le foto in fila orizzontale*/
  /*wrap manda a capo le immagini, altrimenti trasbordano dalla pagina*/
  flex-wrap: wrap;
  margin: 15px;
  /* justify-content: center;
  align-items: center; */
  /* flex-direction: column; */
  /* padding: 10px; */
  /* background: rgb(15, 14, 14); */
}

.list-photos-favs {
  /* display: flex; */
  height: 40vh;
  flex-grow: 1;
  /* list-style: none; */
  /* justify-content: center;
  align-items: center;
  flex-direction: column;
  border-style: double; */
  margin: 17px;
  /* border-width: 5px; */

  /*padding: 10px; */
}

.photo-favs {
  cursor: pointer;
  /* padding: 10px; */
  transition: all 0.5s ease-out;
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  padding: 1px;
}

.photo-last-favs{
  flex-grow: 15;
}
/*.photo-last-favs è un <li> vuoto vhe aiuta l'impaginazione*/

.button-favs {
  /* border-radius: 5px;
    border-style: solid;
    border-width: 1px; */
  margin: 5px;
  /*margin crea spazio intorno all'elemento. Si può impostare differente per ogni lato, o un numero solo uguale per ogni lato*/
  /* padding: 10px; */
  /* background-color: rgb(199, 198, 198); */
  font-size: 1rem;
  cursor: pointer;
  /* min-width: 5.5rem; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
