.box-photos-favs {
  display: flex;
  /*wrap manda a capo le immagini, altrimenti trasbordano dalla pagina*/
  flex-wrap: wrap;
  padding: 0 15px;
  min-height: 70vh;
  height: 100%;
}

.list-photos-favs {
  height: 50vh;
  flex-grow: 1;
  position: relative;
  /*Position relative con position absolute del button favs permette di mettere il cuore sopra la foto*/
}

.list-photos-favs:hover .over-favs {
  opacity: 1;
  z-index: 0;
}

.photo-favs {
  cursor: pointer;
  height: 100%;
  width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  padding: 5px;
}

.over-favs {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: var(--bg-more);
  cursor: pointer;
}

.more-favs {
  color: var(--primary-color);
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}

.photo-last-favs {
  flex-grow: 10;
}
/*.photo-last-favs è un <li> vuoto vhe aiuta l'impaginazione*/

.button-favs {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 5px;
  font-size: 1rem;
  cursor: pointer;
}

/*Position absolute con position relative di list-photos permette di mettere il cuore sopra la foto*/

.button-goBack-favs {
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  margin: 35px 15px 15px 20px;
  padding: 1px;
  font-size: 13px;
  cursor: pointer;
  min-width: 5.5rem;
  width: 3px;
  color: var(--font-color);
  font-weight: bold;
}

@media (max-aspect-ratio: 1/1) {
  .list-photos-favs {
    height: 30vh;
  }
}
/*Quando lo schermo viewport è più alto che largo*/

@media (max-height: 480px) {
  .list-photos-favs {
    height: 80vh;
  }
}
/*on piccoli dispositivi in ​​​​orizzontale, aumentare l'altezza delle foto aiuta a vederle il più grande possibile*/

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  .box-photos-favs {
    flex-direction: row;
  }

  .list-photos-favs {
    height: auto;
    width: 100%;
    overflow: hidden;
  }

  .photos-favs {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}
/*La maggior parte dei telefoni non è sufficientemente ampia da consentire a flexbox di svolgere correttamente il proprio lavoro senza miniaturizzare le foto, quindi qui ho deciso di non provare a adattare più foto per riga. Tuttavia, vale la pena impostare un'altezza massima qui in modo da avere almeno un suggerimento sulla prossima foto nell'elenco.*/
