* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homepage {
  padding: 70px 0 0 0;
}

.verse {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  font-size: 19px;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  line-height: 1.6;
  color: var(--primary-color);
}

.text {
  display: flex;
  justify-content: center;
  padding: 2rem;
  font-size: 18px;
  line-height: 1.6;
  color: var(--primary-color);
}

.text-bottom {
  display: flex;
  justify-content: center;
  padding: 2% 3% 3% 3%;
  font-size: 25px;
  line-height: 1.6;
  color: var(--primary-color);
  font-weight: lighter;
}

.box-photos-home {
  display: flex;
  flex-wrap: wrap;
  margin: 0 15px;
  justify-content: space-around;
}

.list-photos-home {
  height: 370px;
  flex-grow: 1;
}

.photo-home {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;

  padding: 20px;
  view-timeline-name: --image;
  view-timeline-axis: block;

  animation-timeline: --image;
  animation-name: show;

  animation-range: entry 25% cover 30%;
  animation-fill-mode: both;
}

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}

.photo-last-home {
  flex-grow: 10;
}

/*.photo-last-home è un <li> vuoto vhe aiuta l'impaginazione*/
