* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gradient {
  z-index: 1;
  background: var(--gradient);
  background-size: 400% 400%;
  width: 100%;
  animation: 30s linear infinite running animate;
  animation-direction: alternate;
  background-attachment: fixed;
}

/*attacment fixed così il colore è già caricato in tutta la pagina e non si vede la striscia bianca sotto facendo scroll, perche deve caricarsi.*/

.container-verse {
  margin: 0px 0 0 0;
}

.verse {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  font-size: 19px;
  font-family: monospace;
  font-weight: bolder;
  line-height: 1.6;
  color: var(--primary-color);
}

.text {
  display: flex;
  justify-content: center;
  padding: 2rem;
  font-size: 18px;
  line-height: 1.6;
  color: var(--primary-color);
}

.text-bottom {
  display: flex;
  justify-content: center;
  padding: 2% 3% 15% 3%;
  font-size: 25px;
  line-height: 1.6;
  color: var(--primary-color);
  font-weight: bold;
}

.box-photos-home {
  display: flex;
  flex-wrap: wrap;
  margin: 0 15px;
}

.list-photos-home {
  height: 50vh;
  flex-grow: 1;
}

.photo-home {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  padding: 1px;
  filter: grayscale(100%); /*IE6-9*/
  -webkit-filter: grayscale(100%); /*chrome- safari-*/
}

.photo-home:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}

.photo-last-home {
  flex-grow: 10;
}
/*.photo-last-home è un <li> vuoto vhe aiuta l'impaginazione*/

@keyframes animate {
  0% {
    background-position: 0%;
  }
  /* 50% {
		background-position: 100% 50%;
	} */
  100% {
    background-position: 100%;
  }
}

@media (max-aspect-ratio: 1/1) {
  .list-photos-home {
    height: 30vh;
  }
}
/*Quando lo schermo viewport è più alto che largo*/

@media (max-height: 550px) {
  .list-photos-home {
    height: 80vh;
  }
}
/*con piccoli dispositivi in ​​​​orizzontale, aumentare l'altezza delle foto aiuta a vederle il più grande possibile*/

@media (max-aspect-ratio: 1/1) and (max-width: 550px) {
  .box-photos-home {
    flex-direction: row;
  }

  .list-photos-home {
    height: auto;
    width: 100%;
  }

  .photo-home {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
    filter: none;
    -webkit-filter: grayscale(0%);
  }
}
/*La maggior parte dei telefoni non è sufficientemente ampia da consentire a flexbox di svolgere correttamente il proprio lavoro senza miniaturizzare le foto, quindi qui ho deciso di non provare a adattare più foto per riga. Tuttavia, vale la pena impostare un'altezza massima qui in modo da avere almeno un suggerimento sulla prossima foto nell'elenco.*/

@media screen and (max-width: 700px) {
  .verse {
    font-size: 15px;
  }
  .text {
    font-size: 15px;
  }
}
