/* .containerSliderPhotos{
  width:   100vw;
  height:  auto;
  display: flex;
  justify-content:start;
  align-items:     center;
  flex-direction:  column;
  background-color: #333; 
} */

.sliderPhotos {
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.image {
  height: 65vh;
  width: auto;
  border-radius: 0px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: rgb(18, 18, 18);
  padding: 3% 3% 14% 3%;
  background-color: rgb(255, 254, 242);
}

.right-arrow {
  color: var(--bg-inverse) ;
  /* width: 30px;
  height: 30px; */
  /* background-color: var(--bg-inverse);
  border-radius: 50%; */

  cursor: pointer;
  bottom: -45px;
  right: 45%;
  position: absolute;
  text-align: center;
  line-height: 30px;
  display: inline-block;
}

.left-arrow {
  color:  var(--bg-inverse);
  /* width: 30px;
  height: 30px; */
  /* background-color: var(--bg-inverse);
  border-radius: 50%; */

  cursor: pointer;
  bottom: -45px;
  left: 45%;
  position: absolute;
  text-align: center;
  line-height: 30px;
  display: inline-block;
}

.slide {
  /* opacity: 0; */
  transition: all 0.5s ease-in-out;
}

.slide.active {
  /* opacity: 1; */
  transition-duration: 0.5s;
  /* transform: scale(1.02); */
}

@media screen and (max-width: 700px) {
  .image {
    height: 55vh;
  }
}

@media screen and (max-width: 500px) {
  .image {
    height: 45vh;
  }
}

@media (max-width: 560px) {
  .left-arrow {
    left: 40%;
  }
  .right-arrow {
    right: 40%;
  }
}
