/* .containerSliderPhotos{
  width:   100vw;
  height:  auto;
  display: flex;
  justify-content:start;
  align-items:     center;
  flex-direction:  column;
  background-color: #333; 
} */

.sliderPhotos {
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 10px; */
  padding: 2px;
 
  /* background-color: rgb(183, 183, 183); */
}

.image {
  height: auto;
  width: 45vw;
  border-radius: 0px;
  display: flex;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: rgb(18, 18, 18);
  padding: 3% 3% 14% 3%;
  background-color: rgb(213, 213, 213);
}

.right-arrow {
  color: rgb(18,18,18) ;
  /* width: 30px;
  height: 30px; */
  /* background-color: var(--bg-inverse);
  border-radius: 50%; */

  cursor: pointer;
  bottom: 5%;
  right: 45%;
  position: absolute;
  text-align: center;
  line-height: 30px;
  display: inline-block;
}

.left-arrow {
  color:  rgb(18,18,18);
  /* width: 30px;
  height: 30px; */
  /* background-color: var(--bg-inverse);
  border-radius: 50%; */

  cursor: pointer;
  bottom: 5%;
  left: 45%;
  position: absolute;
  text-align: center;
  line-height: 30px;
  display: inline-block;
}

.slide {
  /* opacity: 0; */
  transition: all 0.5s ease-in-out;
}

.slide.active {
  /* opacity: 1; */
  transition-duration: 0.5s;
  /* transform: scale(1.02); */
}

@media screen and (max-width: 700px) {
  .image {
    width: 55vw;
  }
}

@media screen and (max-width: 500px) {
  .image {
    width: 50vw;
  }
  .left-arrow {
    left: 40%;
    bottom: 3%;
  }
  .right-arrow {
    right: 40%;
    bottom: 3%;
  }
}

/* @media (max-width: 560px) {
  .left-arrow {
    left: 40%;
    bottom: 3%;
  }
  .right-arrow {
    right: 40%;
    bottom: 3%;
  }
} */

@media screen and (max-width: 400px) {
 .left-arrow{
   bottom: 2%;
 }

 .right-arrow{
   bottom: 2%;
 }
}
