.background-login {
  /* background-image: url("https://images.unsplash.com/photo-1460467820054-c87ab43e9b59?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1067&q=80"); */
  /* background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center; */
  min-height: 100%;
  height: 100%;
  z-index: -1;
  /* transition: all 0.5s ease-out; */
  background-color: var(--gradient);
}

.img-login{
  max-width: 280px;
  border-style: solid;
  margin: 10px 2px 2px;
  border-width: thin;
  border-radius: 5px;
}

.h1-login{
  margin: 5vh 0 0 0;
}

.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    background-color: transparent;
  }

  .box-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 300px;
    padding: 1rem;
    border-style: solid;
    border-radius: 5px;
    border-width: thin;
    background-color: var(--gradient);
    margin: 10vh 0 5vh 0;
    /* padding: 30px 0px 30px 10px; */
  }
  
  .field-login {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    /* width: 90%; */
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 0px 3px var(--bg-inverse);
    /* background-color: rgb(92, 92, 3); */
    font-size: 1rem;
    cursor: text;
    color: var(--primary-color);
  }

  /* #login-password,
  #login-username{
    border-color: var(--primary-color);
    color: var(--primary-color);
  } */
  
  .button-login {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    /* border-color: var(--primary-color); */
    margin: 5px;
    padding: 10px;
    font-size: 1rem;
    box-shadow: 0px 0px 3px var(--bg-inverse);
    cursor: pointer;
    min-width: 5.5rem;
    color: var(--primary-color);
    /* width: 90%; */
    /* background-color: rgb(92, 92, 3);
    color: rgb(246, 246, 246); */
  }

  .p-login{
    margin: 5px 0 0 0;
    font-size: small;
  }

  .join{
    cursor: pointer;
    color: var(--secondary-color);
    /* width: fit-content; */
    margin: 4px;
    border-style: none none solid none;
    border-width: thin;
    font-weight: lighter;
  }
  
  /* .button-login:hover {
    background-color: rgb(169, 169, 86);
  } */