.background-login {
  background-image: url('../Images/Login.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  min-height: 100%;
  height: 100vh;
  /* position: relative; */
  z-index: -1;
  /* box-sizing: border-box; */
  transition: all 0.5s ease-out;
}

.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    background-color: transparent;
  }
  
  .field-login {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin: 5px;
    padding: 10px;
    background-color: rgba(227, 245, 214, 0.678);
    font-size: 1rem;
    cursor: text;
  }
  
  .button-login {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin: 5px;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    min-width: 5.5rem;
    background-color: rgba(103, 147, 70, 0.825);
  }
  
  .button-login:hover {
    background-color: rgba(103, 147, 70);
  }

  .button-back {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin: 10% 40%;
    /*margin crea spazio intorno all'elemento. Si può impostare differente per ogni lato, o un numero solo uguale per ogni lato*/
    padding: 10px;
    background-color: rgb(199, 198, 198);
    font-size: 1rem;
    cursor: pointer;
    min-width: 5.5rem;

  } 