.background-login {
  min-height: 87vh;
  height: 100%;
  z-index: -1;
  background-image: url(../../public/Photos/ImgLogin.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.label-login {
  color: white;
}

.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
  background-color: transparent;
}

.box-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 300px;
  padding: 4rem 2rem;
  border: 2px solid white;
  border-radius: 10px;
  background: transparent;
  backdrop-filter: blur(8px);
}

.field-login {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 10px;
  border: 2px solid white;
  margin: 10px;
  padding: 10px;
  font-size: 1rem;
  cursor: text;
  color: white;
}

.button-login {
  border-radius: 10px;
  border: 2px solid white;
  margin: 5px;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  min-width: 5.5rem;
  color: white;
}

.button-login:hover {
  background-color: rgb(141, 173, 255);
}

.p-login {
  margin: 5px 0 0 0;
  font-size: small;
  color: white;
}

.join {
  cursor: pointer;
  color: yellow;
  margin: 4px;
  border-style: none none solid none;
  border-width: thin;
  font-weight: lighter;
}
