.background-profile {
  min-height: 87vh;
  height: 100%;
  z-index: -1;
  background-image: url(../../public/Photos/ImgProfile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4rem 2rem;
  background-color: transparent;
}

.box-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 300px;
  padding: 3rem;
  border: 2px solid white;
  border-radius: 10px;
  background: transparent;
  backdrop-filter: blur(8px);
}

.button-profile {
  border-radius: 10px;
  border: 2px solid white;
  margin: 10px;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  min-width: 5.5rem;
  color: white;
}

.button-profile:hover {
  background-color: orange;
}
