.background-register {
  background-image: url("https://images.unsplash.com/photo-1487577701484-5ba48d7e6f4f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwcm9maWxlLWxpa2VkfDF8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=800&q=60");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  min-height: 100%;
  height:100vh;
  z-index: -1;
  transition: all 0.5s ease-out;
}

.container-register {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  background-color: transparent;
}

.box-register {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  background-color:transparent;
  /* border-style: solid;
  border-radius: 5px;
  border-width: thin; */
  margin: 50px 0 0 0;
  padding: 30px 10px 30px 10px;
}

.field-register {
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  margin: 10px;
  padding: 10px;
  background-color: rgba(68, 17, 16, 0.844);
  font-size: 1rem;
  cursor: text;
}

#register-password,
#register-email,
#register-username,
#register-name{
  border-color: black;
  color: rgb(213, 214, 209);
}

.button-register {
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  margin: 5px;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  min-width: 5.5rem;
  background-color: rgba(251, 144, 142, 0.538);
}

.button-register:hover {
  background-color: rgba(251, 144, 142, 0.986);
}
