.background-register {
  background-image: url('../Images/Register.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  min-height: 100%;
  height: 100vh;
  /* position: relative; */
  z-index: -1;
  transition: all 0.5s ease-out;
}

.container-register {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    background-color: transparent;
  }
  
  .field-register {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin: 5px;
    padding: 10px;
    background-color: rgba(68, 17, 16, 0.844);
    font-size: 1rem;
    cursor: text;
  }
  
  .button-register {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin: 5px;
    padding: 10px;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;
    min-width: 5.5rem;
    background-color: rgba(251, 144, 142, 0.538);
  }

  .button-register:hover {
    background-color: rgba(251, 144, 142, 0.986);
  }
  