.p-results {
  display: block;
  padding: 10px 0 10px 0;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
}

.box-photos-results {
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
}

.list-photos-results {
  height: 40vh;
  flex-grow: 1;
  position: relative;
}
 /*Position relative con position absolute del button favs permette di mettere il cuore sopra la foto*/

.photo-results {
  cursor: pointer;
  height: 100%;
  width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  padding: 5px;
}

.photo-last-results {
  flex-grow: 10;
}
/*.photo-last-results è un <li> vuoto vhe aiuta l'impaginazione*/

.fav-button-results {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 5px;
  font-size: 1rem;
  cursor: pointer;
}
@media (max-aspect-ratio: 1/1) {
  .list-photos-results {
    height: 30vh;
  }
}
/*Quando lo schermo viewport è più alto che largo*/

@media (max-height: 480px) {
  .list-photos-results {
    height: 80vh;
  }
}
/*con piccoli dispositivi in ​​​​orizzontale, aumentare l'altezza delle foto aiuta a vederle il più grande possibile*/

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  .box-photos-results {
    flex-direction: row;
  }

  .list-photos-results {
    height: auto;
    width: 100%;
    overflow: hidden;
  }

  .photos-results {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
    /* overflow: hidden; */
  }
}
/*La maggior parte dei telefoni non è sufficientemente ampia da consentire a flexbox di svolgere correttamente il proprio lavoro senza miniaturizzare le foto, quindi qui ho deciso di non provare a adattare più foto per riga. Tuttavia, vale la pena impostare un'altezza massima qui in modo da avere almeno un suggerimento sulla prossima foto nell'elenco.*/


