.background-search {
  min-height: 100vh;
  height: 100%;
  z-index: -1;
  background-color: var(--gradient);
}

.img-search {
  max-width: 280px;
  border-style: solid;
  margin: 10px 2px 2px;
  border-width: thin;
  border-radius: 5px;
}

.container-search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  background-color: transparent;
}

.box-search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  max-width: 300px;
  border-style: solid;
  border-radius: 5px;
  border-width: thin;
  margin: 15vh 0 5vh 0;
}

.field-search {
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 0px 3px var(--bg-inverse);
  font-size: 1rem;
  cursor: text;
  color: var(--primary-color);
}

.button-search {
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  margin: 5px;
  padding: 10px;
  font-size: 1rem;
  box-shadow: 0px 0px 3px var(--bg-inverse);
  cursor: pointer;
  min-width: 5.5rem;
  color: var(--primary-color);
}
